<!-- -*- mode: XML -*- -->
<launch>
    ################ start astar node ################
    <node pkg="astar_sol" type="astar_sol" name="astar_sol" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0.2"/>
        <param name="rate" value="10"/>
    </node>
</launch>
